<div class="horizontal-ad">
    <div id="246078262">
        <script type="text/javascript">
            try {
                window._mNHandle.queue.push(function (){
                    window._mNDetails.loadTag("246078262", "300x250", "246078262");
                });
            }
            catch (error) {}
        </script>
    </div>
</div>
