@using Microsoft.AspNetCore.Identity
@inject SignInManager<WebUser> SignInManager
@inject UserManager<WebUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Administracja</strong></a>
        <div class="dropdown-menu">
            <a  class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="All">Wszystkie hasła</a>
            <a  class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="MegaAudit">Mega audyt (strasznie wolny)</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </li>
}
