{% extends "layout.html" %}
{% block body %}

<h1>Dodaj hasło</h1>
<p>
    Niestety, automatyczne dodawanie haseł do słownika jeszcze nie działa :-(
</p>
<p>
    Za to możesz zostawić komentarz na dole ekranu i hasło zostanie
    dodane ręcznie. Pamiętaj że dodając hasło zrzekasz się wszelkich
    praw autorskich na rzecz autorów tej strony.
</p>

<br />

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "366263",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->


<br />

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="7663547283"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}
