{% extends "layout.html" %}

{% block extra_head %}
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="add-entry.html">
{% endblock %}

{% block body %}

<h1>Dodaj hasło</h1>
<p>
    Wyłapałeś jakieś fajne hasło i chcesz je dodać do słownika?
    Nie ma sprawy! Ale <strong>nie zapomnij dodać przykładów i opisać co dane hasło oznacza<strong>.
    Czasami trudno się połapać ;)
</p>
<p>
    <small>Pamiętaj że dodając hasło zrzekasz się wszelkich
    praw autorskich na rzecz autorów tej strony.</small>
</p>

<div>
    <add-entry></add-entry>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="7663547283"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}
