{% extends "layout.html" %}
{% block body %}

{% for e in entries %}

<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">{{ e.entry }}</h2>
  </div>
  <div class="panel-body">
  	<ul>
	    {% for m in e.meanings %}
	    	<li>{{ m }}</li>
	    {% endfor %}
    </ul>
  </div>
  
	  <ul class="list-group">
	    <li class="list-group-item" />

	  	{% if e.english_meanings %}
	    <li class="list-group-item">
	    	<strong>ang.</strong>
	    	<ul>
	    		{% for m in e.english_meanings %}
	    		<li>{{ m }}</li>
	    		{% endfor %}
	    	</ul>
	    </li>
	    {% endif %}

	    {% if e.examples %}
	    <li class="list-group-item">
	    	<strong>np.</strong>
	    	<ul>
	    		{% for m in e.examples %}
	    		<li>{{ m }}</li>
	    		{% endfor %}
	    	</ul>
	    </li>
	    {% endif %}

	    {% if e.see_also %}
	    <li class="list-group-item">
	    	<strong>zob.</strong>
	    	<ul>
	    		{% for m in e.see_also %}
	    		<li><a href="{{ url_for('show_entry', entry=m)}}">{{ m }}</a></li>
	    		{% endfor %}
	    	</ul>
	    </li>
	    {% endif %}
	  </ul>
</div>

{% endfor %}


{% endblock %}