{% extends "layout.html" %}
{% block body %}

{% for entry in entries %}

<div class="jumbotron">
  <h1>{{ entry.entry }}</h1>
  		{% if entry.meanings %}
	    <div>
	    	<strong>znaczenie</strong>
	    	<ul>
	    		{% for m in entry.meanings %}
	    		<li>{{ m }}</li>
	    		{% endfor %}
	    	</ul>
	    </div>
	    {% endif %}

	  	{% if entry.english_meanings %}
	    <div>
	    	<strong>ang.</strong>
	    	<ul>
	    		{% for m in entry.english_meanings %}
	    		<li>{{ m }}</li>
	    		{% endfor %}
	    	</ul>
	    </div>
	    {% endif %}

	    {% if entry.examples %}
	    <div>
	    	<strong>np.</strong>
	    	<ul>
	    		{% for m in entry.examples %}
	    		<li>{{ m }}</li>
	    		{% endfor %}
	    	</ul>
	    </div>
	    {% endif %}

	    {% if entry.see_also %}
	    <div>
	    	<strong>zob.</strong>
	    	<ul>
	    		{% for m in entry.see_also %}
	    		<li><a href="{{ url_for('show_entry', entry=m)}}">{{ m }}</a></li>
	    		{% endfor %}
	    	</ul>
	    </div>
	    {% endif %}
</div>

{% endfor %}


{% endblock %}