{% extends "layout.html" %}
{% block body %}

<br/>

{% for entry in entries %}

<div class="jumbotron">
    <div class="pull-right">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Vertical banner 120x240 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:120px;height:240px"
             data-ad-client="ca-pub-7772971751638753"
             data-ad-slot="4827832080"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});

        </script>
    </div>

    <h1>{{ entry.entry }}</h1>
    {% if entry.meanings %}
    <div>
        <strong>znaczenie</strong>
        <ul>
            {% for m in entry.meanings %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if entry.english_meanings %}
    <div>
        <strong>ang.</strong>
        <ul>
            {% for m in entry.english_meanings %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if entry.examples_html %}
    <div>
        <strong>np.</strong>
        <ul>
            {% for m in entry.examples_html %}
            <li>{{ m|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if entry.see_also %}
    <div>
        <strong>zob.</strong>
        <ul>
            {% for m in entry.see_also %}
            <li><a href="{{ url_for('show_entry', entry=m)}}">{{ m }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <div class="container">
        <div class="pull-left">
            <a class="btn btn-xs btn-success" href="{{ url_for('losuj') }}" role="button">Losuj <span
                    class="glyphicon glyphicon-random"></span></a>
        </div>
    </div>
</div>

{% endfor %}

<div class="container">
    <div class="fb-like"
         data-href="http://www.slownikpolonijny.com{{ url_for('show_entry', entry=entries[0].entry) }}"
         data-layout="standard"
         data-width="100%"
         data-action="like" data-show-faces="false" data-share="true"></div>
</div>

<br />

<div class="fb-comments"
     data-href="http://www.slownikpolonijny.com{{ url_for('show_entry', entry=entries[0].entry) }}"
     data-width="100%"
     data-numposts="5"
     data-colorscheme="light"></div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="7663547283"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});

</script>

{% endblock %}
