{% extends "layout.html" %}
{% block body %}

<h2>Witaj na naszej stronie :)</h3>
<p>
    Słownik Polonijny jest zbiorem zwrotów zmienionych przez Polaków za granicą, używanych jako polskie lub w zastępstwie.
    Zebrał w USA: <a href="https://www.linkedin.com/pub/zbigniew-fracz/82/793/39a">Zbigniew Roman Frącz</a>
</p>

<br/>

<div class="centered-block">
    <a class="btn btn-success" href="{{ url_for('losuj') }}" role="button">Losuj hasło <span class="glyphicon glyphicon-random"></span></a>
</div>

<br/>

<p>
    <div class="centered-block">
        <p>Wybierz literę:</p>
    {% for l in letters %}
        <span class="letter"><a href="{{ url_for('show_letter', letter=l) }}">{{ l.upper() }}</a></span>
    {% endfor %}

    </div>
</p>

<br />
<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'slownikpolonijny';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<br/>

{% endblock %}
