<!DOCTYPE html>
<html lang="pl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>{{ title }}Słownik polonijny</title>
    <meta property="og:title" content="{{ title }}Słownik polonijny" />

    <meta name="description" content="Słownik Polonijny jest zbiorem zwrotów zmienionych przez Polaków za granicą, używanych jako polskie lub w zastępstwie." />
    <meta property="og:description" content="Zbiór zwrotów zmienionych przez Polaków za granicą, używanych jako polskie lub w zastępstwie." />

    <meta name="author" content="Zbigniew Roman Frącz" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.slownikpolonijny.com" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="fb:app_id" content="663455953752217" />
    <meta property="og:site_name" content="Słownik polonijny" />
    <meta property="og:image" content="http://www.slownikpolonijny.com{{ url_for('static', filename='flaga_pl.png') }}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='typeahead.css') }}" rel="stylesheet" />

    {% block extra_head %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '663455953752217',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="container">
    <div class="header">
        <div class="page-header">
            <h1>Słownik polonijny <small>hał ar ju?</small></h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img alt="Brand" src="/favicon.ico"> Start</a>                   
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url_for('about') }}">
                                O słowniku
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('losuj') }}">
                                <span class="text-success">Losuj <span class="glyphicon glyphicon-random"></span></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('nowe') }}">
                                Nowe <span class="glyphicon glyphicon-asterisk"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dodaj') }}">
                                Dodaj <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Litera <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for l in letters %}
                                <li><a role="menuitem" href="{{ url_for('show_letter', letter=l) }}">{{ l.upper() }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="input-group input-group-sm">
                                    <input type="search" class="form-control" name="query" id="query" placeholder="szukaj"></input>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    {% block body %}{% endblock %}

    <div class="footer">
        <p>&copy; <a href="https://www.linkedin.com/pub/zbigniew-fracz/82/793/39a">Zbigniew Roman Frącz</a>
           2014-present.
           All rights reserved. Wszelkie prawa zastrzeżone.
        </p>
        <p>See also our other website <a href="http://egglanterns.com/">EggLanterns.com</a>. 
           Kod źródłowy dostępny na <a href="https://github.com/itsff/polonijny">GitHub</a>.
        </p>
    </div>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='scripts/typeahead.bundle.min.js') }}"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55485802-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
 // Instantiate the Bloodhound suggestion engine
 var hasla = new Bloodhound({
     datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
     queryTokenizer: Bloodhound.tokenizers.whitespace,
     prefetch: {
         url: "/hasla",
         filter: function (hasla) {
             return $.map(hasla, function (haslo) {
                 return {
                     name: haslo
                 };
             });
         }
     }
 });

 // Initialize the Bloodhound suggestion engine
 hasla.initialize();

 // Instantiate the Typeahead UI
 var qq = $('#query');
 var tt = qq.typeahead({
     hint: true,
     highlight: true,
     minLength: 1,
     classNames: {
         input: 'form-control input-sm',
         menu: 'dropdown-menu'
     }
 }, {
     displayKey: 'name',
     source: hasla.ttAdapter()
 }).bind('typeahead:select', function(ev, suggestion) {
     window.location.href = "/h/" + suggestion.name;
 });
</script>
</body>
</html>
