{% extends "layout.html" %}
{% block body %}


        <h1>{{ current_letter.upper() }}</h1>

<div class="entries">
<ul>
{% for e in entries %}
<li>
<a href="{{ url_for('show_entry', entry=e.entry) }}">{{ e.entry }}</a>
</li>
{% endfor %}
</ul>
</div>

<br />

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Horizontal real 728x90
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="5746162080"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="7663547283"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}