{% extends "layout.html" %}
{% block body %}


        <h1>{{ current_letter.upper() }}</h1>

<div class="entries">
<ul>
{% for e in entries %}
<li>
<a href="{{ url_for('show_entry', entry=e.entry) }}">{{ e.entry }}</a>
</li>
{% endfor %}
</ul>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Horizontal 728x90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-7772971751638753"
     data-ad-slot="4269428888"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


{% endblock %}