@{
    ViewData["Title"] = "O słowniku";
}
<h1>@ViewData["Title"]</h1>
<p>
„Słownik polonijny” jest internetową wersją „Słownika Hentremickiego” zebranego w Stanach Zjednoczonych przez Zbigniewa Romana Frącz. Zbiór spolonizowanych słów i zwrotów był tak dobry, że postanowiliśmy wydać go w formie strony internetowej.
</p>
<p>
Emigracja zarobkowa i turystyczna sprawiła że mniejszość polska w USA, ale też w innych krajach anglojęzycznych, stale rośnie, a wraz z nią przybywa „hentremickich” zwrotów. „Słownik polonijny” umożliwia internautom dodawanie ich to zbioru. 
</p>
<p>
Poniżej możesz zapoznać się z historią pierwotnego „Słownika Hentremickiego”. 
</p>


<h2>Dlaczego Słownik Hentremicki</h2>

<p>
    <a href="https://pl.wikipedia.org/wiki/Hamtramck_(Michigan)">Hamtramck</a>, fonetycznie „Hentremik”, jest miasteczkiem położonym w środku miasta Detroit w stanie Michigan. Po Chicago i Nowym Jorku zamieszkuje je (i okolice) niemal najliczniejsza Polonia w USA. Niegdyś tętniące prawie w całości polskim życiem, dzisiaj powoli roztapia się w tyglu wielu narodowości (melting pot). Ale jeszcze można na przykład w restauracji „Pod Orłem” dobrze zjeść tradycyjne, bardzo smaczne polskie obiady, podawane przez kelnerki ubrane w polskie stroje ludowe, choć nie zawsze mówiące dobrze po polsku. Tam jadały sławy (między innymi George Bush, były prezydent USA), stołują się również i mieszkańcy - polonusi. Zaprasza się tam swoich gości amerykańskich lub przyjeżdżających z Polski, szczycąc się tym, że ma się tu coś wyjątkowego, polskiego, dobrego. Można poznać przepiękne polskie panny i panie w dyskotece „White Star” i potańczyć, choć nie zawsze przy polskiej muzyce. Przy barze klubu „PNA” popijając wódkę, można posłuchać ciekawych opowieści polonijnych, oraz dogadać się z kimś i dostać dorywczą pracę. Można być tam też świadkiem typowej polskiej bójki o dziewczynę. Barmanka przygarnie czasem samotnego imigranta na noc bez większych zobowiązań. „U Marysi” spragnione serca mogą poszukać sobie partnera do wspólnego spędzenia nawet kilku lub kilkunastu lat z dala od kraju, czy choćby na ciągnące się za długo sobotnio-niedzielne dnie i noce. Na słynnej ulicy „Joseph Campau” zdecydowanie królują polskie sklepy i biznesy. „Polska Unia Kredytowa” opiekująca się kieszenią Polaka emigranta zaprasza do swych progów, z kilku polskich biur podróży można drogo wysłać pieniądze oczekującej w Polsce żonie, czy paczkę z upominkami dla stęsknionych za tatą, czy mamą dzieci. W polskiej księgarni można pooglądać sobie utraconą może na zawsze Polską kulturę. Niedaleko, u „Bożka”, jednego z najlepszych w okolicy (zdaniem autora) polskich masarzy, można kupić wspaniałe, pachnące kiełbasy, wędzony boczek, świeżutki polski chleb, czy choćby napatrzeć się na przepiękne, sprzedające polskie dziewczęta. Pewnego pocieszenia można doznać w kilku polskich kościołach, na polskiej mszy świętej, czy po mszy porozmawiać sobie w ojczystym języku ze znajomymi Polakami parę minut. Tam również na polskich festiwalach można naprawdę poczuć się Polakiem, choć większość spotkanych znajomych Polaków mówi po angielsku, lub wydaje się im, że mówi. Mówią dziwnym językiem, który jest mieszaniną języków - polskiego i angielskiego w zmienionej formie. Drogą długiej ewolucji wykształcił się specyficzny, zrozumiały tylko dla „wtajemniczonych”, język, nazwany przez autora symbolicznie „językiem hentremickim”. Ci wtajemniczeni to emigranci pracujący ciężko na powszedni chleb i na ogół bardzo ciężko doświadczeni przez życie. Są to ludzie z podstawowym, zawodowym, licealnym, czy wyższym wykształceniem. Codzienne troski i pogoń za czymś nieuchwytnym nie zostawiają im czasu na językowe refleksje, inni czują się bardziej dowartościowani, świadomością „biegłej” znajomości „języka angielskiego”. Na pewno inne polonijne środowiska w USA mają swój własny, niepowtarzalny język z wieloma podobieństwami do hentremickiego języka. 
</p>
<p>
Należą się też tutaj pewne wyjaśnienia dla czytelnika ze strony autora. Nie ocenia on, ani nie potępia użytkowników języka. Jest on tylko biernym obserwatorem, starającym się wyłapywać zmiany (wiedzącym, że język mówiony jest czymś żywym, zmieniającym się z dnia na dzień), starającym się osobiście jednak na codzień posługiwać poprawnym językiem polskim. Autor z góry przeprasza wszystkie osoby rozmawiające kiedyś z nim i czujące się wykorzystane do jego badań naukowych. Oni to jednak są autorami powstałego słownika.
</p>
<p>
Autor pragnie bardzo serdecznie podziękować panom: Kazimierzowi Głodkowi oraz Emilowi Kornackiemu, za staranne przejrzenie poprzedniego wydania słownika oraz uwagi i sugestie, które pozwoliły poprawić i uaktualnić obecną wersję. 
</p>

<h2>Język hentremicki - próba charakterystyki użytkownika</h2>
<p>
Język hentremicki jest symboliczną, przyjętą przez autora, nazwą języka używanego przez Polaków w Stanach Zjednoczonych zamieszkujących miasteczko Hamtramck, w stanie Michigan, oraz jego okolice. Porozumiewają się oni na codzień między sobą językiem polskim, ale jakoś dziwnie zmienionym.
</p>

<p>Analizując zjawisko, można tu wyróżnić pięć grup użytkowników języka hentremickiego:</p>
<ul>
    <li>
        Pierwszą z nich stanowią tak zwani wakacjusze lub turyści, czyli osoby przebywające
        czasowo w USA przez krótki okres czasu na czas ważności wizy turystycznej
        (zwykle do 6. miesięcy).
    </li>
    <li>
        Druga grupa to emigranci nielegalni, którzy z czasową wizą i bez pozwolenia na
        pracę zdecydowali się pozostać na terenie Stanów Zjednoczonych.
    </li>
    <li>
        Trzecia grupa to legalni emigranci, z pozwoleniem na pracę, którzy przebywają
        w USA kilka lat.
    </li>

    <li>
        Czwartą grupę stanowią dzieci legalnych i nielegalnych emigrantów.
    </li>
    <li>
        Grupa piąta, to Amerykanie polskiego pochodzenia, którzy urodzili się w USA w
        rodzinach posługujących się w domu językiem polskim.
    </li>
</ul>
<p>
    Wakacjusze z wizą turystyczną przyjeżdżają do USA w odwiedziny na krótki pobyt,
    przedłużając go zwykle legalnie lub nielegalnie czasami nawet do kilku lub kilkunastu lat,
    stając się legalnymi lub nielegalnymi emigrantami. Pracują oni zwykle bardzo ciężko
    i na ogół bez pozwolenia na pracę, w podrzędnych  zawodach, czasami na dwa etaty w
    dzień i w nocy. Mieszkają w tanich dzielnicach, zwykle wynajmując mieszkanie lub pokój
    z wieloma rodakami, co rodzi wiele konfliktów, a również nie pozwala na naukę języka
    angielskiego. Ich krąg znajomych zacieśnia się na ogół wokół takich samych jak oni
    wakacjuszy oraz kolegów z pracy, baru, czy dyskoteki. Ze względu na charakter pracy,
    mieszkanie oraz status, z żywym językiem angielskim mają na ogół mały i ograniczony
    kontakt. Ich znajomość języka angielskiego można określić w większości jako początkującą
    lub ograniczającą się do znajomości znaczenia niewielkiej ilości słów i to na ogół ze
    złą wymową, choć wśród nich są osoby ze słabą lub biegłą znajomością języka.
</p>




<h2>Przyczyny zmian językowych</h2>
<p>
    Spośród wielu przyczyn, które prowadzą do zmian języka polskiego oraz polskich wyrazów i znaczeń, autor wyróżnia następujące:
</p>
<ul>
    <li>Krótsza wymowa (czasami) nazw rzeczy, przy używaniu angielskich słów jako odpowiedników znaczeń polskich wyrazów zachęca do używania ekwiwalentu.</li>
    <li>Chęć zaimponowania „znajomością” języka angielskiego, szczególnie osobom nowoprzyjezdnym.</li>
    <li>Zwrócenie uwagi na siebie.</li>
    <li>Samozadowolenie mówiącego.</li>
    <li>Przyzwyczajenie.</li>
    <li>Przyswojenie przez osłuchanie się.</li>
    <li>Ćwiczenia w celu zapamiętania słowa.</li>
    <li>Nieznajomość znaczenia polskiego niektórych słów i (lub) zwrotów.</li>
    <li>Brak odpowiednika polskiego lub jego nieznajomość.</li>
    <li>Nieznajomość poprawnej wymowy angielskiej.</li>
    <li>Nieznajomość poprawnej wymowy polskiej.</li>
    <li>Konstrukcja zdania angielskiego według składni polskiej.</li>
    <li>Odmiana słowa angielskiego według odmiany polskiej.</li>
    <li>Dosłowne tłumaczenie wyrazu lub zdania według gramatyki i składni angielskiej.</li>
    <li>Brak kontaktu z żywym, poprawnym językiem polskim, co widoczne jest szczególnie u dzieci emigrantów.</li>
    <li>Naśladownictwo dzieci (nie mających świadomości niepoprawności) w rodzinach polskich emigrantów, przysłuchujących się językowi, używanemu przez osoby dorosłe oraz osoby odwiedzające.</li>
    <li>Niepoprawianie i niezwracanie uwagi na błędy osoby mówiącej (czasem nieświadomej niepoprawności).</li>
    <li>Nieuczenie się języka angielskiego (oraz polskiego).</li>
    <li>Brak samokontroli osoby mówiącej.</li>
    <li>Chęć podkreślenia swojego „zamerykanizowania” przez osobę mówiącą.</li>
</ul>

<p>
    <a class="text-muted" asp-area="Identity" asp-page="/Account/Login">Login</a>
</p>