@model AddEntryViewModel
@{
    ViewData["Title"] = "Dodaj hasło";
}

<h1>Dodaj hasło</h1>
<p>
    Wyłapałeś jakieś fajne hasło i chcesz je dodać do słownika?
    Nie ma sprawy! Ale <strong>nie zapomnij dodać przykładów i opisać co dane hasło oznacza</strong>.
    Czasami trudno się połapać ;)
</p>
<div>
    <section>
        <form role="form" id="entryForm" action='/dodaj'>
            @Html.AntiForgeryToken()
            <input type="hidden" name="CaptchaExpectation" value="@Model.CaptchaExpectation" />
            <div class="card">
                <div class="card-header">
                    Hasło
                </div>
                <div class="card-body">
                    <div class="form-group form-group-lg">
                        <label for="Name">Hasło (z małej, chyba że nazwa własna):</label>
                        <!-- "The autocapitalize attribute is intentionally set to 'none' to prevent issues with some mobile keyboards"-->
                        <input type="text"
                            value=""
                            class="form-control input-lg"
                            autocorrect="off" autocapitalize="none"
                            id="Name" name="Name"
                            placeholder="wpisz tutaj nowe hasło" />
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Znaczenia
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group" id="Meanings-group"></div>
                    </div>

                    <div class="alert alert-warning" role="alert" id="Meanings-hint" style="display:none">
                        <strong>Psst</strong> - Hasło ma kilka znaczeń? Kliknij przycisk aby dodać więcej linijek.
                        Proszę podać każde znaczenie na osobnej linijce.
                    </div>

                    <button type="button" class="btn btn-primary" id="Meanings-add">Kolejne znaczenie</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Znaczenia angielskie
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group" id="EnglishMeanings-group"></div>
                    </div>

                    <div class="alert alert-warning" role="alert" id="EnglishMeanings-hint" style="display:none">
                        <strong>Psst</strong> - Hasło ma kilka angielskich znaczeń? Kliknij przycisk aby dodać więcej linijek.
                        Proszę podać każde znaczenie na osobnej linijce.
                    </div>

                    <button type="button" class="btn btn-primary" id="EnglishMeanings-add">Kolejne znaczenie angielskie</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Przykłady
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group" id="Examples-group"></div>
                    </div>

                    <div id="Examples-hint" style="display:none">
                        <div class="alert alert-info" role="alert">
                            <strong>Psst</strong> - Chcesz dodać link to innego hasła? Napisz je w [nawiasach].
                            <p>
                                Np. <mark>[Kap]</mark> mi powiedział żebym nie stawiał <mark>[kary|kara]</mark> na <mark>[kornerze|korner]</mark>.
                            </p>
                        </div>
                        <div class="alert alert-warning" role="alert"> 
                            <p>
                                Jak chcesz dodać więcej niż jeden przykład, to naciśnij poniższy przycisk aby dodać więcej linijek.
                                <strong>Każda linijka powinna zawierać tylo jeden przykład</strong>.
                            </p>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" id="Examples-add">Kolejny przykład</button>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Hasła pokrewne
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group" id="SeeAlso-group"></div>
                    </div>

                    <div class="alert alert-warning" role="alert" id="SeeAlso-hint" style="display:none">
                        <strong>Psst</strong> - Kilka haseł pokrewnych? Kliknij przycisk aby dodać więcej linijek.
                            Proszę podać każde hasło na osobnej linijce.
                    </div>

                    <button type="button" class="btn btn-primary" id="SeeAlso-add">Kolejne hasło pokrewne</button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <strong>Udowodnij że nie jesteś robotem</strong>
                    <div class="form-group row">
                        <div class="input-group">
                            <label for="Captcha" class="col-sm-2 col-form-label">@Model.Num1 + @Model.Num2 =</label>
                            <input type="tel"
                                   pattern="\d+"
                                   id="Captcha" name="Captcha"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" id="problems" style="display:none">
                <h3>Łi hew e problem</h3>
                <p>Niestety, coś poszło nie tak:</p>
                <ul id="problem-list">
                </ul>
            </div>

            <div class="form-group form-group-lg">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        id="submitButton">Dodaj hasło do słownika</button>
            </div>
            <p>
                <small>Pamiętaj że dodając hasło zrzekasz się wszelkich
                praw autorskich na rzecz autorów tej strony.</small>
            </p>
        </form>
    </section>
</div>

<script type="text/javascript">

function hookUpMulti(uiName, dataName, hint) {
    $("#" + uiName + "-add").click(function() {
        let template = `
            <div class="input-group top-space">
                <input type="text"
                    value=""
                    class="form-control"
                    autocorrect="off" autocapitalize="none"
                    name="` + dataName + `"
                    id="` + dataName + `"
                    placeholder="` + hint + `" />

                <div class="input-group-append">
                    <button type="button"
                            class="btn btn-danger"
                            aria-label="Usuń">
                        Usuń
                    </button>
                </div>
            </div>`;

        let group = $("#" + uiName + "-group");
        group.append(template);

        if (dataName === "SeeAlso") {
            let searchOptions = {
                url: function(phrase) { return "/szukaj/" + phrase; },
                requestDelay: 300
            };
            
            let newInput = group.children().last().find("input");
            
            newInput.easyAutocomplete(searchOptions);
        }

        $(group).on('click', '.btn-danger', function(e) {
            e.preventDefault();
            $(this).parent('div').parent('div').remove();
        });

        $("#" + uiName + "-hint").show();
    });
}


function hookUpFormSubmit() {
    $("#entryForm").submit(function(e) {
        e.preventDefault();
        let form = $(this);
        let url  = form.attr('action');
        let data = form.serialize();

        $.ajax({
            type: "POST",
            url:  url,
            data: data
        })
        .done(function(resp) {
            console.log(resp);
            if (resp.success) {
                $("#problems").hide();
                window.location.href = resp.url;
            } else {
                $("#problems").show();
                let pl = $("#problem-list");
                pl.children().remove();
                for (let i = 0; i < resp.problems.length; ++i) {
                    pl.append("<li>" + resp.problems[i] + "</li>");
                }
            }
        })
        .fail(function(resp, textStatus, errorThrown) {
            console.log(resp);
            $("#problems").show();
            let pl = $("#problem-list");
            pl.children().remove();
            pl.append("<li>" + textStatus + "</li>");
            pl.append("<li>Spróbuj jeszcze raz</li>");
        });
    });
}


document.onreadystatechange = () => {
    if (document.readyState === 'complete') {
        hookUpMulti("Meanings", "Meanings", "znaczenie");
        hookUpMulti("EnglishMeanings", "EnglishMeanings", "ang");
        hookUpMulti("Examples", "Examples", "np");
        hookUpMulti("SeeAlso", "SeeAlso", "zobacz też");

        hookUpFormSubmit();
    }
};
</script>