<h1>Oł szit!</h1>
<p>
    Słownik nie zawiera hasła <strong>@ViewData["Entry"]</strong>.
</p>
<div class="centered-block">
    <a class="btn btn-success" asp-action="add" role="button">
        Dodaj hasło do słownika
    </a>
</div>

<partial name="_HorizontalAd" />